<h1>id: <%= @chillout.id %> のメッセージ詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @chillout.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @chillout.title %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @chillout.content %></td>
  </tr>
</table>

<%= link_to '編集する', edit_chillout_path(@chillout), class: 'btn btn-light' %>
<%= link_to '削除する', @chillout, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
