<div class="row">
  <div class="col-6">
    <%= form_with(model: chill_spot, local: true) do |f| %>
    <% if chill_spot.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <ul class="mb-0">
          <% chill_spot.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Place' %>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, { include_blank: "---" }, class: 'form-control' ) %>
    </div>

    <div class="form-group">
      <%= f.label :spot_image, 'spot_image' %>
      <%= f.file_field :spot_image %>
    </div>
      
    <%= f.submit '投稿', class: 'btn btn-primary'%>
    <% end %>
    </div>
</div>