
  <nav class="navbar navbar-expand-lg navbar-dark", style="background-color: #000000">
    <%= link_to 'MY CHILL OUT', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item"><%= link_to 'ABOUT', root_path(anchor: 'services'), class: 'nav-link js-scroll-trigger' %></li>
        <li class="nav-item"><%= link_to 'CHILL SPOT', root_path(anchor: 'portfolio'), class: 'nav-link js-scroll-trigger' %></li>
        <li class="nav-item"><%= link_to 'CHILLOUT BIBLE', root_path(anchor: 'about'), class: 'nav-link js-scroll-trigger' %></li>
        <li class="nav-item"><%= link_to 'CONTACT', root_path(anchor: 'contact'), class: 'nav-link js-scroll-trigger' %></li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#Modal" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'My profile', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
    <div class="masthead-subheading">chill spotの登録/編集ページ</div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div>
        <%= form_with(model: chill_spot, local: true) do |f| %>
          <% if chill_spot.errors.any? %>
            <div id="error_explanation" class="alert alert-warning">
              <ul class="mb-0">
                <% chill_spot.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
      
          <div class="form-group">
            <%= f.label :name, 'name' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
      
          <div class="form-group">
            <%= f.label :name, 'Place' %>
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, { include_blank: "---" }, class: 'form-control' ) %>
          </div>

          <div class="form-group">
            <%= f.label :spot_image, 'spot_image' %>
            <%= f.file_field :spot_image %>
          </div>
          <%= f.submit '登録', class: 'btn btn-secondary btn-lg'%>
        <% end %>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Studio Pluviophile 2020</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="mr-3" href="#!">Privacy Policy</a>
                <a href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
